
/* HEADER */
header {
    height: 900px;
    width: 100%;
    background-image: url(../imgs/bg-1.png);
    background-size: cover;
}

.header__row {
    height: 70px;
}

.logo {
    height: 72px;
    width: 72px;
}

.nav-link {
    color: #000;
}

.nav-link:hover {
    color: #000;
    transform: scale(1.1);
}

.header__text {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
}

.headtext__marg {
    margin-top: 350px;
}

.social__icons {
    margin-top: 250px;
}

.social__item {
    height: 48px;
    width: 48px;
}

.social__scale:hover {
    transform: scale(1.12);
}

/* VEBINARS */
.title {
    font-size: 48px;
    font-weight: 400;
}

.card {
    width: 400px;
    height: 415px;
    background-color: #fafafa;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    border: 2px solid #ffffff;
}

.card-body {
    text-align: center;
}

.active__card {
    border: 2px solid #ff4e80;
}

.card-title {
    height: 100px;
    font-size: 32px;
    font-weight: 300;
}

.card-text {
    height: 200px;
    padding: 0 40px;
}

.btn {
    border: 2px solid #79afff;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: 300;
    font-size: 14px;
}

.btn:hover {
    background-color: #79afff;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.active__btn {
    background-color: #79afff;
    color: #ffffff;
}

.active__btn:hover {
    border: 2px solid #79afff;
    color: #000;
    background-color: #ffffff;

}

.active__banner {
    background-color: #ff4e80;
    text-align: center;
    width: 200px;
    height: 26px;
    margin-top: 27px;
    border-radius: 0 0 10px 10px;
    color: #ffffff;
}

.active__banner p {
    font-size: 14px;
    font-weight: 300;
}

.info__btn1,
.info__btn2,
.info__btn3 {
    background-color: #fafafa;
    border: none;
}

.info__btn1 svg,
.info__btn2 svg,
.info__btn3 svg {
    height: 32px;
    width: 32px;
}

.info__btn1:hover svg,
.info__btn2:hover svg,
.info__btn3:hover svg {
    fill: #79afff;
}

/* POPUP_WINDOW */
.popup__btn {
    border-radius: 40px !important;
    padding: 10px 20px;
    font-weight: 300;
}

.popup__container {
    border-radius: 25px !important;
}

/* ABOUT_ME */
.about__me {
    margin-top: 200px;
    background-image: url(../imgs/bg-2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.text {
    margin-top: 70px;
    font-size: 30px;
}

/* CERTIFICATES */
.certificates {
    margin-bottom: 100px;
    padding-top: 100px;
    height: 750px;
}

.carousel {
    width: 800px;
}

.carousel-item img {
    height: 550px;
}

/* REVIEWS */
.reviews {
    margin-bottom: 100px;
}

.reviews .title {
    margin-bottom: 50px;
}

.review__card {
    height: auto;
    max-width: 250px;
}

.review__card .card-title {
    font-size: 24px !important;
    height: auto;
    text-align: left;
}

.card-subtitle {
    text-align: left;
}

.review__card .card-text {
    padding: 0;
    height: auto;
    text-align: left;
}

/* FOOTER */
footer {
    height: 100px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 14px;
    margin-top: 40px;
}


/* Media For Phones */
@media (max-width: 650px) {
    /* HEADER */
    header {
        height: 650px;
    }
    .header__text {
        font-size: 24px !important;
    }
    .headtext__marg {
        margin-top: 160px !important;
    }
    .social__icons {
        margin-top: 160px !important;
    }

    /* ABOUT_ME */
    .about__me {
        margin-top: 100px;
    }
    
    .text {
        font-size: 20px;
    }

    /* REVIEWS */
    .card {
        margin-bottom: 40px !important;
    }

    /* CERTIFICATES */
    .certificates {
        margin-bottom: 50px;
        padding-top: 50px;
        height: 450px !important;
    }

    .carousel-inner {
        height: 280px;
    }
    
    .carousel-item > img {
        max-height: 280px;
    }
}